* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f8f9fa;
}

main {
  padding: 10px;
  background: white;
  position: relative;
  min-width: 756px;
  width: 100%;
  height: 100vh;
  top: 56px;
  background: #fafafa;
}

header .navbar-brand {
  width: 175px;
}