.todo_sidebar {
  background-color: #dddfe6;
  width: 370px;
  overflow: auto;
}

.user_info {
  width: 370px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid white;
}

.user_info span:nth-child(1) {
  width: 308px;
}

.user_info em {
  font-style: initial;
  font-weight: bold;
  font-size: 20px;
}

.user_info .logout_ico {
  width: 20px;
  height: 20px;
  background: url(../images/logout.ico);
  background-size: contain;
  border: none;
  vertical-align: text-bottom;
}

.todo_title {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.todo_title p {
  width: 308px;
  color: #252c41;
  font-size: 18px;
  font-weight: bold;
}

.todo_list {
  width: 370px;
  display: flex;
  flex-direction: column;
  background-color: #dddfe6;
}

.todo_list li {
  width: 100%;
  height: 60px;
}

.todo_list li a {
  display: block;
  position: relative;
  min-height: 60px;
  height: 100%;
  padding: 20px;
}

.todo_list li a.on, .todo_list li a:hover {
  background-color: #ced1d9;
  color: #252c41;
}

.todo_list li a span:nth-child(1) {
  display: inline-block;
  width: 230px;
}

.todo_list li a span:nth-child(2) {
  display: inline-block;
  width: 95px;
  text-align: right;
  font-size: 12px;
}

.todo_contents {
  width: calc(100% - 370px);
  height: 100%;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row;
  overflow: auto;
  padding: 20px;
}

.card {
  width: 350px;
  height: 600px;
  background-color: white;
  border-radius: 25px;
  margin: 0 15px 0 15px;
  padding: 30px;
  outline: none;
  display: flex;
  justify-content: left;
  align-items: initial;
  flex-direction: column;
  box-shadow: 1px 1px 10px 1px lightgray;
}

.card_title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card_title p {
  font-weight: 520;
  font-size: 17px;
}

.card_list, .modal_list {
  overflow: auto;
}

.card_item {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: inherit;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
}

.card_item form {
  justify-content: inherit;
  display: flex;
  width: 100%;
}

.card_item .item_check, .card_item .item_add {
  width: 30px;
  height: 30px;
}

.card_item .item_text {
  width: 100%;
  min-width: 235px;
}

.card_item .item_text input {
  border: none;
  width: inherit;
  vertical-align: sub;
}

.card_item .item_text input.complete {
  color: gray;
  text-decoration:line-through;
}

.trash_ico {
  width: 15px;
  height: 15px;
  background: url(../images/trash.ico);
  background-size: contain;
  border: none;
  vertical-align: middle;
  filter: opacity(.3) drop-shadow(0 0 0 gray);
  margin: 7px 0px;
}

.add_ico {
  width: 20px;
  height: 20px;
  background: url(../images/plus.png);
  background-size: contain;
  border: none;
  vertical-align: middle;
  filter: opacity(.3) drop-shadow(0 0 0 gray);
  margin: 3px 1px;
}

.rotate_45 {
  transform: rotate(45deg);
}

.trash_ico:hover, .add_ico:hover {
  filter: opacity(1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.modal_dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal_title {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.modal_title p{
  width: 100%;
  font-size: 17px;
  font-weight: 520;
  padding: 15px 0 15px 0;
}

.modal_calendar {
  margin-top: 25px;
}